*{
// font-family: 'Lora', serif;
}

.page-header {
  color: $text-color;
  background-color: #311e3e;
  height: 120px;
  color: white;
width: 100%;
font-family: 'Rubik', sans-serif;
}

.container {
  // width: 1200px;
  // margin: 0;
  display: block;
  position: center;
}

.nav {
   padding-top: 30px;
   font-family: 'Rubik', sans-serif;

}


ul{

}
a {
  text-decoration: none;
  color: #fff;
  padding-right: 50px;
  font-size: 20px;

}

a:hover {
   color: #df405a;
}


a:nth-child(3) {
   margin-right: 200px
}